<div id="<%= dom_id crud_test %>">
  <p>
    <strong>Nome:</strong>
    <%= crud_test.nome %>
  </p>

  <p>
    <strong>Id seq:</strong>
    <%= crud_test.id_seq %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= crud_test.endereco %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= crud_test.preco %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= crud_test.email %>
  </p>

</div>
