<div id="<%= dom_id crud_test %>">
  <p>
    <strong>Name:</strong>
    <%= crud_test.name %>
  </p>

  <p>
    <strong>Id seq:</strong>
    <%= crud_test.id_seq %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= crud_test.address %>
  </p>

  <p>
    <strong>Income:</strong>
    <%= crud_test.income %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= crud_test.email %>
  </p>

</div>
