<p style="color: green"><%= notice %></p>

<%= render @crud_test %>

<div>
  <%= link_to "Edit this crud test", edit_crud_test_path(@crud_test) %> |
  <%= link_to "Back to crud tests", crud_tests_path %>

  <%= button_to "Destroy this crud test", @crud_test, method: :delete %>
</div>
